@import "tailwindcss";

@theme {
  --color-bg: oklch(12.9% 0.042 264.695);
  --color-text: oklch(96.8% 0.007 247.896);
  --color-accent: oklch(78.9% 0.154 211.53); /*buat link sama ikon*/
  --color-border: oklch(27.9% 0.041 260.031); /*buat border/kartu */

  /* buat animasi */

  --animate-fade-in-left: fade-in-left 0.8s ease-out forwards;
  --animate-fade-in-right: fade-in-right 0.8s ease-out forwards;
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
